# https://www.toptal.com/developers/gitignore/api/c++,visualstudio 에서 생성됨
# https://www.toptal.com/developers/gitignore?templates=c++,visualstudio 에서 수정하세요

### C++ ###
# 필수 조건
*.디

# 컴파일된 오브젝트 파일
*.슬로
*.봐라
*.영형
*.obj

# 사전 컴파일된 헤더
*.gch
*.pch

# 컴파일된 동적 라이브러리
*.그래서
*.dylib
*.dll

# Fortran 모듈 파일
*.모드
*.smod

# 컴파일된 정적 ​​라이브러리
*.lai
*.라
*.에이
*.lib

# 실행 파일
*.exe
*.밖으로
*.앱

### 비주얼 스튜디오 ###
## Visual Studio 임시 파일, 빌드 결과 등을 무시합니다
## 인기 있는 Visual Studio 추가 기능에서 생성된 파일입니다.
##
## https://github.com/github/gitignore/blob/main/VisualStudio.gitignore 에서 최신 버전을 가져오세요

# 사용자별 파일
*.rsuser
*.수오
*.사용자
*.userosscache
*.sln.docstates

# 사용자별 파일 (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono에서 자동 생성된 파일
모노_크래시.*

# 결과물 구축
[디]디버그/
[Dd]ebugPublic/
[Rr]릴리스/
[Rr]릴리스/
x64/
x86/
[Ww][Ii][Nn]32/
[아][르][음]/
[Aa][Rr][Mm]64/
건축/
[Bb]in/
[오]비제이/
[Ll]og/
[로그]

# Visual Studio 2015/2017 캐시/옵션 디렉터리
.vs/
# wwwroot에 프로젝트의 정적 파일을 생성하는 작업이 있는 경우 주석 처리를 해제하세요.
#wwwroot/

# Visual Studio 2017 자동 생성 파일
생성된 파일/

# MSTest 테스트 결과
[테스트 결과*/
[Bb]빌드[Ll]로그.*

# NUnit
*.VisualState.xml
테스트결과.xml
nunit-*.xml

# ATL 프로젝트 결과물 구축
[Dd]ebugPS/
[Rr]릴리스PS/
dlldata.c

# 벤치마크 결과
BenchmarkDotNet.Artifacts/

# .NET 코어
프로젝트.lock.json
프로젝트.프래그먼트.락.json
유물/

# ASP.NET 스캐폴딩
ScaffoldingReadMe.txt

# 스타일캅
스타일캅리포트.xml

# Visual Studio에서 빌드된 파일
*_i.c
*_p.c
*_h.h
*.우유
*.meta
*.iobj
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.통나무
*.tlog
*.vspscc
*.vssscc
.빌드
*.pidb
*.svclog
*.scc

# 뻔뻔함 테스트 파일
_뻔뻔함*

# Visual C++ 캐시 파일
이프치/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.캐시파일
*.VC.db
*.VC.VC.opendb

# Visual Studio 프로파일러
*.psess
*.vsp
*.vpx
*.수액

# Visual Studio 추적 파일
*.e2e

# TFS 2012 로컬 작업 영역
$tf/

# 안내 자동화 툴킷
*.gpState

# ReSharper는 .NET 코딩 추가 기능입니다.
_리샤퍼*/
*.[Rr]e[Ss]하퍼
*.DotSettings.user

# TeamCity는 빌드 추가 기능입니다
_팀시티*

# DotCover는 코드 커버리지 도구입니다
*.dotCover

# AxoCover는 코드 커버리지 도구입니다
.axoCover/*
!.axoCover/settings.json

# Coverlet은 무료 크로스 플랫폼 코드 커버리지 도구입니다.
coverage*.json
커버리지*.xml
coverage*.info

# Visual Studio 코드 커버리지 결과
*.적용 범위
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# 마이티무스
*.mm.*
오토테스트.넷/

# 웹 워크벤치(Sass)
.sass-cache/

# Installshield 출력 폴더
[Ee]익스프레스/

# DocProject는 문서 생성기 추가 기능입니다.
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# 클릭온스 디렉토리
게시/

# 웹 출력 게시
*.[Pp]게시.xml
*.azurePubxml
# 참고: 웹 배포 설정을 체크인하려면 다음 줄을 주석 처리하세요.
하지만 데이터베이스 연결 문자열(암호 포함 가능성 있음)은 암호화되지 않습니다.
*.pubxml
*.publishproj

# Microsoft Azure 웹 앱 게시 설정입니다. 다음 줄은 주석 처리해도 됩니다.
# Azure 웹 앱 게시 설정을 체크인하세요. 단, 민감한 정보가 포함되어 있습니다.
# 이 스크립트에서는 암호화되지 않습니다
PublishScripts/

# NuGet 패키지
*.nupkg
# NuGet 심볼 패키지
*.스눕kg
# 패키지 복원 기능 때문에 패키지 폴더는 무시해도 됩니다.
**/[Pp]패키지/*
# MSBuild 대상으로 사용되는 build/는 예외입니다.
!**/[Pp]packages/build/
# 필요한 경우 주석 처리를 해제하세요. 하지만 일반적으로 필요할 때 자동으로 다시 생성됩니다.
#!**/[Pp]packages/repositories.config
# NuGet v3의 project.json 파일은 무시해도 되는 파일을 더 많이 생성합니다.
*.nuget.props
*.nuget.targets

# Microsoft Azure 빌드 출력
csx/
*.build.csdef

# 마이크로소프트 Azure 에뮬레이터
ECF/
rcf/

# Windows 스토어 앱 패키지 디렉터리 및 파일
앱패키지/
번들아티팩트/
패키지.스토어협회.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio 캐시 파일
# .cache로 끝나는 파일은 무시해도 됩니다.
*.[Cc]ache
# 하지만 .cache로 끝나는 디렉토리는 계속 추적해야 합니다.
!?*.[Cc]ache/

# 기타
클라이언트빈/
~$*
*~
*.dbmdl
*.dbproj.스키마뷰
*.jfm
*.pfx
*.publishsettings
올리언스.코드젠.cs

# 강력한 이름 파일을 포함하면 보안 위험이 발생할 수 있습니다.
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# 워크플로가 여러 개 있으므로 bower_components를 무시하려면 다음 줄의 주석을 해제하세요.
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/실버라이트 프로젝트
생성된 코드/

# 기존 프로젝트 파일 변환 후 백업 및 보고서 파일 생성
# 최신 Visual Studio 버전으로 업그레이드하세요. 백업 파일은 필요하지 않습니다.
# 왜냐하면 우리에겐 Git이 있으니까요 ;-)
_업그레이드 보고서_파일/
지원*/
업그레이드로그*.XML
업그레이드로그*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server 파일
*.mdf
*.ldf
*.ndf

# 비즈니스 인텔리전스 프로젝트
*.rdl.데이터
*.bim.layout
*.bim_*.설정
*.rptproj.rsuser
*- [Bb]백업.rdl
*- [Bb]백업([0-9]).rdl
*- [Bb]백업([0-9][0-9]).rdl

# 마이크로소프트 가짜
가짜 어셈블리/

# GhostDoc 플러그인 설정 파일
*.GhostDoc.xml

# Visual Studio용 Node.js 도구
.ntvs_analysis.dat
노드 모듈/

# Visual Studio 6 빌드 로그
*.plg

# Visual Studio 6 작업 영역 옵션 파일
*.고르다

# Visual Studio 6에서 자동 생성된 작업 영역 파일(열려 있던 파일 등의 정보 포함)
*.vbw

# Visual Studio 6에서 자동 생성된 프로젝트 파일 (열려 있던 파일 등의 정보 포함)
*.vbp

# Visual Studio 6 작업 영역 및 프로젝트 파일(프로젝트에 포함할 파일이 들어 있는 작업 프로젝트 파일)
*.dsw
*.dsp

# Visual Studio 6 기술 파일

# Visual Studio LightSwitch 빌드 출력
**/*.HTMLClient/GeneratedArtifacts
**/*.데스크탑클라이언트/생성된 아티팩트
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_개인_확장

# Paket 종속성 관리자
.paket/paket.exe
패키지 파일/

# 가짜 - F# 만들기
.가짜/

# CodeRush 개인 설정
.cr/개인

# Visual Studio용 Python 도구(PTVS)
__pycache__/
*.pyc

# 케이크 - 사용 중이라면 주석 처리를 해제하세요
# 도구/**
# !tools/packages.config

# 탭스 스튜디오
*.tss

# Telerik의 JustMock 설정 파일
*.jmconfig

# BizTalk 빌드 출력
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI 분석 결과
오픈커버/

# Azure Stream Analytics 로컬 실행 출력
ASALocalRun/

# MSBuild 바이너리 및 구조화된 로그
*.binlog

# NVIDIA Nsight GPU 디버거 설정 파일
*.nvuser

# MFractors(Xamarin 생산성 도구) 작업 폴더
.mfractor/

# 비주얼 스튜디오용 지역 역사
.localhistory/

# Visual Studio 기록(VSHistory) 파일
.vshistory/

# BeatPulse 건강 검진 임시 데이터베이스
건강 검진 데이터베이스

# Visual Studio 2017의 패키지 참조 변환 도구용 백업 폴더
마이그레이션/백업/

# Ionide(크로스 플랫폼 F# VS Code 도구) 작업 폴더
.이온화물/

# Fody - 자동 생성된 XML 스키마
FodyWeavers.xsd

# 여러 도구를 사용하는 사용자를 위한 VS Code 파일
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.코드워크스페이스

# Visual Studio Code의 로컬 히스토리
.역사/

# 빌드 출력에서 ​​가져온 Windows 설치 프로그램 파일
*.택시
*.msi
*.msix
*.msm
*.msp

#젯브레인즈 라이더
*.sln.iml

### Visual Studio 패치 ###
# Visual Studio에서 빌드한 추가 파일

# https://www.toptal.com/developers/gitignore/api/c++,visualstudio 끝